/*  your css code here. If applicable */
.box{
	background-color: #f5f5f5;
	padding: 20px;
	width: auto;
}

.test{
	padding: 10px;
	border: 1px solid;
	background-color: white;
}
.test .aurthor{
	text-align: right;
	font-style: italic;
}